<div class="jumbotron">
    <h1>Azure Microservices sample app</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>I do nothing now!</h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>